:root {
  --gray-color: #8e8e93;
  --black-color: #1e2022;
  --blacklight-color: #22282f;
  --white-color: #fff;
  --cherry-color: #f05757;
  --cherrydark-color: #903232;
  --graydark-color: #404040;
  --graylight-color: #dadee0;
  --blue-color: #3191d0;
}

* {
  transition: all 0.5s;
}

.header_width-1140px {
  width: 1140px;
  margin: 0 auto;
  color: var(--gray-color);
}

.header {
  background-color: var(--black-color);
  height: 130px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.header__town {
  width: min-content;
  margin: 0;
}

.geo2.geo {
  display: none;
}

#town {
  margin: 15px 0;
}

.header__menu-item {
  margin: 15px 0px 15px 0px;
  list-style-type: none;
  display: inline-block;
}

.header__menu-item a {
  text-decoration: none;
  color: var(--gray-color);
  transition: color 0.4s ease-in-out;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__menu-item:hover a {
  color: var(--white-color);
}

.header__menu {
  margin: 0;
  padding: 0;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}

.header__navigation-phone {
  list-style-type: none;
  text-decoration: none;
  color: var(--gray-color);
  margin: 15px 0;
  font-weight: 700;
  transition: color 0.4s ease-in-out;
}

.header__navigation-phone:hover {
  color: var(--white-color);
}

.hr {
  display: block;
  position: absolute;
  color: var(--white-color);
  margin: 0px;
  border: none;
  border-top: 1px solid;
  width: 100%;
}

.logo__img {
  width: 149px;
  height: 35px;
}

.logo__container {
  margin: 17px 0 20px 0;
}

.header__search {
  background-color: var(--black-color);
  border: 1px solid var(--gray-color);
  border-radius: 6px;
}

.header__search-input {
  background-color: var(--black-color);
  width: 360px;
  margin: 13px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-color);
}

.form__select {
  width: 126px;
  height: 50px;
}

.header__bottom {
  display: flex;
  justify-content: space-around;
}

.form__select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 15px 22px 15px 43px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-color);
}

.form__select:focus {
  outline: none;
}

.form__select:hover {
  -webkit-box-shadow: 0px 0px 13px 3px var(--gray-color);
  -moz-box-shadow: 0px 0px 13px 3px var(--gray-color);
  box-shadow: 0px 0px 13px 3px var(--gray-color);
}

.form__select:not([multiple]) {
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: auto auto;
}

hr {
  width: 100%;
}

.header__select {
  position: relative;
  width: 126px;
  height: 50px;
  margin: 15px 30px;
}

.header__select::before {
  content: url(../img/select_strelka.svg);
  position: absolute;
  top: 34%;
  left: 16px;
  display: block;
  height: 10px;
  width: 10px;
  opacity: 1;
}

.form__select {
  background-color: var(--black-color);
  border: 1px solid var(--gray-color);
  border-radius: 6px;
  transition: box-shadow 0.6s ease-in-out;
}

.header__search {
  width: 438px;
  height: 50px;
  margin-top: 15px;
  transition: color 0.35s ease-in-out, box-shadow 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__search-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-color);
}

.header__search-input:focus {
  outline: none;
  padding: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.header__search:hover {
  border: 1px solid var(--gray-color);
  -webkit-box-shadow: 0px 0px 13px 3px var(--gray-color);
  -moz-box-shadow: 0px 0px 13px 3px var(--gray-color);
  box-shadow: 0px 0px 13px 3px var(--gray-color);
}

.header__search-icon {
  cursor: pointer;
}

.menu li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  margin: 30px 0 29px 35px;
}

.menu li a {
  text-decoration: none;
  color: var(--gray-color);
  display: flex;
  margin-bottom: auto;
  align-items: center;
  transition: color 0.4s ease-in-out;
}

.menu li:hover a {
  color: var(--white-color);
}

.menu li a span {
  margin: 0px 0px 0px 4px;
}

.menu {
  padding: 0;
  margin: 0;
}

.menu li img {
  padding-top: 0px;
  margin-right: 0px;
}

.header__navigation-geo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__navigation-geo img {
  margin-right: 11px;
}

header {
  width: 100%;
}

.header__select {
  cursor: pointer;
}

.form__select {
  cursor: pointer;
}

/* main */

.way{
  margin-bottom: 20px;
}

.way a{
  font-family: Roboto;
  color: var(--graydark-color);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.way span{
  font-family: Roboto;
  color: var(--graydark-color);
  font-size: 16px;
  font-weight: 400;
}

.way a:hover{
  text-decoration: underline;
}

.main_width-1140px {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}

.compare__header-title p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2d2d2d;
  margin-bottom: 40px;
}
.compare__header-title span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 10px;
  color: var(--gray-color);
}
/* TABS */
.tabs__header {
  display: flex;
  gap: 40px;
  width: 100%;
}

.tabs__header-item {
  cursor: pointer;
  transition: 0.4s all;
  transition: border-color 0.4s ease-in-out;
  border-bottom: 1px solid #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-color);
}

.tabs__header-item:hover {
  color: #5b5b5b;
  border-color: #5b5b5b;
}

.tabs__header-item.active {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--cherry-color);
  border-bottom: 1px solid var(--cherry-color);
}

.tabs__body {
  width: 100%;
  position: relative;
}

.tabs__body-content {
  display: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--black-color);
}

.tabs__body-content.active {
  display: block;
  min-height: max-content;
  max-width: 100%;
}

/* /TABS */
/* CHECKBOX */
.checkbox {
  margin-top: 40px;
  margin-bottom: 20px;
}

.compare__delete {
  margin-bottom: 40px;
}

.real-checkbox {
  display: none;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--gray-color);
  border-radius: 2px;
  margin-right: 6px;
  background-color: var(--white-color);
}

.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 4.5px;
  background-image: url("../img/checkbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-60%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.real-checkbox:checked + .custom-checkbox {
  background: var(--cherry-color);
  border: 2px solid var(--cherry-color);
}

.checkbox label {
  display: flex;
  align-items: center;
}

.checkbox label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--graydark-color);
}
/* /CHECKBOX */
/* BTN Delete */
.compare__delete-text {
  transition: all 0.01s ease-out;
}

.compare__delete {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: var(--blue-color);
  position: inherit;
  border: 1px solid var(--blue-color);
  filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.25));
  border-radius: 6px;
  width: 160px;
  height: 49px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: relative;
}

.compare__delete:hover {
  border: 1px solid #1d6493;
  background-color: var(--graylight-color);
}

.compare__delete:active {
  border: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  color: var(--white-color);
}

.compare__delete:active ~ .compare__delete-text {
  color: var(--white-color);
}

/* /BTN Delete */
/* compare__items */

.compare-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: min-content;
  flex-wrap: nowrap;
}

.compare-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0px;
  gap: 20px;
  width: 265px;
  max-height: 397px;
  margin-left: 0px;
}

.compare-item__image {
  width: 180px;
  height: 180px;
  border-radius: 6px;
  cursor: pointer;
}

.compare-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--black-color);
}

.container_flex-gap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}

.compare-item__a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--black-color);
  text-decoration: none;
}

.container_flex-gap a:hover {
  color: var(--cherrydark-color);
  font-weight: 500;
}

.compare-item__star {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.compare-item__text_red {
  text-decoration: none;
  margin: 0 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--cherry-color);
}

.compare-item__text {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray-color);
}

.compare-item__price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: var(--black-color);
}

.compare-form {
  display: flex;
  align-items: center;
  gap: 16px;
}

.compare-form__btn img,
.compare-form__heart img {
  width: 20px;
  height: 18px;
}

.compare-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  background: var(--cherry-color);
  border: 1px solid var(--cherry-color);
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
}

.compare-form__btn:hover {
  background: var(--cherrydark-color);
}

.compare-form__btn,
.compare-form__heart,
.compare-form__stat {
  cursor: pointer;
}

/* /compare__items */
/* compare__accardion */
.compare__tab {
  margin-top: 40px;
  max-width: 900px;
}

.compare__tabs_container {
}

.compare__tabs-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-color);
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8e8e9;
  padding: 20px 0;
  min-width: 800px;
}

.compare__tabs-header-img {
  transform: rotate(180deg);
  margin-left: 5px;
}

.compare__tabs-body {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.text-gray {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--gray-color);
  margin-bottom: 10px;
}

.tabs-body__flex {
  display: flex;
  max-width: 835px;
  justify-content: space-between;
}

.tabs-body__flex-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--black-color);
  max-width: 260px;
  text-overflow: clip;
  position: inherit;
  white-space: nowrap;
  overflow: visible;
}

.tabs-body__flex-text {
  overflow: visible;
}

/* /compare__accardion */
/* /main */
/* footer */
.footer_container {
  width: 1140px;
  height: 1915px;
}

.footer__tabs-body-item p,
.footer__tabs-body-item-container_1 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  margin-top: 16px;
  color: var(--gray-color);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.footer__tabs-body-item p:hover,
.footer__tabs-body-item-container_1 p:hover {
  color: var(--white-color);
}

.footer__tabs-header-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 13px;
  color: var(--white-color);
}

footer {
  background: var(--black-color);
}

.footer__tabs-header {
  display: flex;
  gap: 160px;
  width: 809px;
}

.footer__tabs-body {
  display: block;
}

.footer__tabs-header-item {
  cursor: pointer;
  transition: 0.4s all;
}

.footer__tabs-body {
  display: flex;
  gap: 60px;
}

.footer__tabs-body-item.flex {
  display: flex;
  gap: 60px;
}

.footer__container {
  max-width: 1140px;
  margin: 0 auto;
  border-bottom: 1px solid var(--graydark-color);
  padding-bottom: 30px;
}

footer {
  padding: 30px 20px;
  width: 100%;
}

.footer__container-2 {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__container-2-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}

.footer__container-2-text a,
.footer__container-2-copy p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: var(--gray-color);
  margin-top: 30px;
  margin-bottom: 0;
  transition: all 0.4s ease-in-out;
}

.footer__container-2-text a:hover,
.footer__container-2-copy p:hover {
  color: var(--white-color);
}

.footer__container-social-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 13px;
  color: var(--white-color);
}

.footer__container-social-btns {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.footer__container-social-btn {
  cursor: pointer;
}

.img-width-22px {
  width: 22px;
  height: 22px;
  margin-bottom: 2px;
}

.footer__container-social-btn {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--graydark-color);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.footer__container-social-btn:hover {
  border-color: #e8e8e9;
  background-color: #22282f;
}

.footer__container-flex {
  display: flex;
}

/* akkordeon */
.footer__tab {
  display: none;
}

/* akkordeon */
/* /footer */
/* adaptive */
@media (max-width: 1200px) {
  .tabs__body-content {
    max-width: 100vw;
    white-space: nowrap;
    overflow-x: auto;
  }
  .compare-item {
    width: 265px;

    position: relative;
  }
  .container_flex-gap {
    white-space: normal;
  }
  .header__navigation {
    display: flex;
    justify-content: space-between;
    gap: 6%;
    padding: 0 20px;
  }
  .header__bottom {
    padding: 0 20px;
  }
  .main,
  .main_width-1140px {
    width: 95%;
    position: relative;
    margin: 0 auto;
  }
  body {
    background-color: white;
  }
  .header,
  .header_width-1140px {
    max-width: 100%;

    margin: 0 auto;
  }
  .header__search {
    width: 27.9%;
  }

  .header__search-input {
    position: relative;
    width: 70%;
  }
  .footer__tabs-body,
  .footer__tabs-body-item.flex {
    gap: 1%;
  }
  .footer__tabs-header {
    gap: 15%;
  }
  .footer__tabs {
    width: 600px;
  }
  .footer__container-flex {
    justify-content: space-between;
  }
  .footer__container-2 {
    gap: 1%;
  }
}
footer {
  margin-top: 100px;
}
@media (max-width: 1000px) {
  .menu li {
    margin-left: 0;
  }

  .menu li:nth-child(1) {
    display: none;
  }

  .compare__tabs-header {
    padding-right: 130px;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    min-width: max-content;
    width: 320px;
    gap: 3%;
  }
  /* footer */
  .footer__tabs {
    display: none;
  }
  .footer__tab {
    display: flex;
    color: #ffffff;
  }
  .footer__tabs_container {
    position: inherit;
    width: 100%;
  }
  .footer__tabs-header {
    padding: 25px 0;
    position: inherit;
    width: 100%;
    justify-content: space-between;
  }
  .footer__container-social-text {
    padding-top: 25px;
    margin: 0;
  }
  .footer__tabs-header,
  .footer__container-social-text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    border-top: 1px solid #404040;
  }
  .footer__tabs-body {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* Dark Grey */

    color: #8e8e93;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
  }
  .footer__container-flex {
    flex-direction: column;
  }

  .footer__container-2-text {
    gap: 2%;
  }
  .logo-div {
    padding-bottom: 30px;
  }

  /* /footer */
}
@media (max-width: 920px) {
  .hr {
    display: none;
  }
  .header__navigation {
    gap: 5%;
  }
}
@media (max-width: 900px) {
  .header {
    margin-bottom: 15px;
  }
  .header__menu {
    display: none;
  }
  .header__navigation,
  .header__select,
  .menu {
    display: none;
  }
  .logo__container {
    flex: 0 1 50%;
    margin: 20px 0;
  }
  .geo2.geo {
    display: flex;
    width: 70px;
    flex: 0 1 50%;
    margin: 0;
    padding-left: 0%;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 50%;
  }
  .geo2.geo img {
    height: 14px;
    width: 20px;
  }
  .header__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .header__search {
    flex: 0 1 100%;
    margin: 0;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .header__search img {
    margin-right: 15px;
  }
  .header_width-1140px {
    background-color: #1e2022;
  }

  .compare-item {
    width: 197px;
  }

  .compare-item__image {
    width: 80px;
    height: 80px;
  }

  .compare-item__a  {
    font-size: 11px;
    line-height: 11px;
    width: 200px;
    min-height: 20px;
  }

  .compare-item__text_red {
    font-size: 11px;
    line-height: 11px;
    padding-top: 6px;
    width: 20px;
  }

  .compare-item__text {
    font-size: 11px;
    line-height: 11px;
    width: 85px;
  }

 .compare-item__price {
    font-size: 12px;
    line-height: 15px;
 }

 .compare-form__btn {
    width: 70px;
    height: 25px;
 }

 .compare-flex {
    gap: 0;
 }

 .compare__tab {
    max-width: 900px;
 }

 .compare__tabs-header {
    padding-right: 170px;
 }

 .compare__tabs-header {
    display: block;
 }

 .tabs-body__flex-text {
    width: 110px;
 }
}
