:root {
  --bluedark-color: #00008B;
  --black-color: #1e2022;
  --cherrydark-color: #8B0000;
  --gray-color: #8e8e93;
  --graydark-color: #404040;
  --cherry-color: #F05757;
  --white-color: #fff;
  --bluelight-color: #3191d0;
}

header {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: var(--black-color);
  width: 100%;
}

main {
  background-color: rgba(255, 255, 255, 0.664);
}

/* HEADER */

.header_width-1140px {
  width: 1140px;
  margin: 0 auto;
  color: var(--gray-color);
}

.header {
  background-color: var(--black-color);
  height: 130px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.header__town {
  width: min-content;
  margin: 0;
}

#town {
  margin: 15px 0;
}

.header__menu-item {
  margin: 15px 0px 15px 30px;
  list-style-type: none;
  display: inline-block;
}

.header__menu-item a {
  text-decoration: none;
  color: var(--gray-color);
  transition: color 0.4s ease-in-out;
}

.header__menu-item:hover a {
  color: rgba(255, 255, 255, 0.664);
}

.header__menu {
  margin: 0;
  padding: 0;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}

.header__navigation-phone {
  list-style-type: none;
  text-decoration: none;
  color: var(--gray-color);
  margin: 15px 0;
  font-weight: 700;
  transition: color 0.4s ease-in-out;
}

.header__navigation-phone:hover {
  color: rgba(255, 255, 255, 0.664);
}

.header__navigation-geo {
  margin-top: 14px;
}

.hr {
  display: block;
  position: absolute;
  color: rgba(255, 255, 255, 0.664);
  margin: 0px;
  border: none;
  border-top: 1px solid;
  width: 100%;
}

/* watched */

.way{
  margin-left: 380px;
  margin-top: 20px;
}

.way a{
  font-family: Roboto;
  color: var(--graydark-color);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.way span{
  font-family: Roboto;
  color: var(--graydark-color);
  font-size: 16px;
  font-weight: 400;
}

.way a:hover{
  text-decoration: underline;
}
 
.viewed {
  margin-bottom: 60px;
}

.viewed__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 19px;
  color: var(--black-color);
}

.block {
  list-style-type: none;
  width: 265px;
  min-height: 413px;
  padding: 20px 0px;
  gap: 20px;
}

.block:not(:last-child) {
  margin-right: 20px;
}

.img {
  margin-bottom: 20px;
}

.reviewe__descr {
  min-width: 200px;
  min-height: 55px;
  margin-bottom: 10px;
}

.coffee-machine {
  margin-bottom: 11px;
}

.price {
  margin-bottom: 20px;
}

.cart {
  width: 80px;
  min-height: 40px;
  padding: 4px 24px;
  background-color: var(--cherry-color);
  border: 1px solid var(--cherry-color);
  border-radius: 6px;
  margin-right: 16px;
}

.cart:hover {
  cursor: pointer;
  background-color: var(--cherrydark-color);
  transition: background 0.5s ease-in-out;
}

.cartt {
  cursor: ponter;
  background-color: var(--white-color);
  border: 1px solid var(--cherrydark-color);
  transition: background 0.5s ease-in-out, border 0.5s ease-in-out;
}

.favourites {
  color: var(--cherry-color);
}

.favourites:hover {
  cursor: pointer;
  color: var(--cherrydark-color);
  transition: color 0.5s ease-in-out;
}

.heartt {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 23px;
  border: none;
  background: url("../img/heart.png") no-repeat;
}

.pricee {
  margin-bottom: 36px;
}

.viewed__blocks {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.left-arrow {
  background: url(../img/left.png) no-repeat;
  width: 38px;
  height: 38px;
  left: -3%;
}

.right-arrow {
  background: url(../img/right.png) no-repeat;
  width: 38px;
  height: 38px;
  left: 80%;
}

.slid2 {
  width: 180px;
  height: 180px;
}
/* /watched */
.logo__img {
  width: 149px;
  height: 35px;
}

.logo__container {
  margin: 17px 0 20px 0;
}

.header__search {
  background-color: var(--black-color);
  border: 1px solid var(--gray-color);
  border-radius: 6px;
}

.header__search-input {
  background-color: var(--black-color);
  width: 360px;
  margin: 13px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-color);
}

.form__select {
  width: 126px;
  height: 50px;
}

.header__bottom {
  display: flex;
}

.form__select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 15px 22px 15px 43px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-color);
}

.form__select:focus {
  outline: none;
}

.form__select:hover {
  -webkit-box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.27);
  -moz-box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.27);
  box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.27);
}

.form__select:not([multiple]) {
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: auto auto;
}

hr {
  width: 100%;
}

.header__select {
  position: relative;
  width: 126px;
  height: 50px;
  margin: 15px 30px;
}

.header__select::before {
  content: url("./img/strelochka.svg");
  position: absolute;
  top: 34%;
  left: 16px;
  display: block;
  height: 10px;
  width: 10px;
  opacity: 1;
}

.form__select {
  background-color: #1e202200;
  border: 1px solid var(--gray-color);
  border-radius: 6px;
  transition: box-shadow 0.6s ease-in-out;
}

.header__search {
  width: 438px;
  height: 48px;
  margin-top: 15px;
  transition: color 0.35s ease-in-out, box-shadow 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__search-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-color);
}

.header__search-input:focus {
  outline: none;
  padding: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.header__search:hover {
  border: 1px solid #8e8e93;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.27);
  -moz-box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.27);
  box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.27);
}

.header__search-icon {
  cursor: pointer;
}

.menu li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  margin: 30px 0 29px 35px;
}

.menu li a {
  text-decoration: none;
  color: var(--gray-color);
  display: flex;
  margin-bottom: auto;
  align-items: center;
  transition: color 0.4s ease-in-out;
}

.menu li:hover a {
  color: rgba(255, 255, 255, 0.664);
}

.menu li a span {
  margin: 0px 0px 0px 4px;
}

.menu {
  padding: 0;
  margin: 0;
}

.menu li img {
  padding-top: 0px;
  margin-right: 0px;
}

/* Основной блок */
.main_width-1140px {
  width: 1140px;
  background: var(--white-color);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer {
  background: var(--black-color);
}

.footer__tabs-header {
  display: flex;
  gap: 160px;
  width: 809px;
}

.footer__tabs-body {
  display: block;
}

.footer__tabs-header-item {
  cursor: pointer;
  transition: 0.4s all;
}

.footer__tabs-body {
  display: flex;
  gap: 60px;
}

.footer__tabs-body-item.flex {
  display: flex;
  gap: 60px;
}

.footer__container {
  width: 1140px;
  margin: 0 auto;
  border-bottom: 1px solid var(--graydark-color);
  padding-bottom: 30px;
}

footer {
  padding: 30px 0;
  width: 100%;
  margin-top: 130px;
}

header {
  width: 100%;
}

.footer__container-2 {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__container-2-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}

.footer__container-2-text a,
.footer__container-2-copy p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray-color);
  margin-top: 30px;
  margin-bottom: 0;
  transition: all 0.4s ease-in-out;
}

.footer__container-2-text a:hover,
.footer__container-2-copy p:hover {
  color: rgb(168, 166, 166);
}

.footer__container-social-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 13px;
  color: var(--white-color);
}

.img-width-22px {
  margin-top: 3px;
}

.footer__container-social-btns {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.footer__container-social-btn {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.footer__container-social-btn:hover {
  border-color: #e8e8e9;
  transform: scale(1.1);
}

.footer__container-flex {
  display: flex;
}

.User-Placement__text {
  padding-top: 20px;
}

.Main-prod__flex {
  display: flex;
  flex-direction: row;
}

.Main-prod__flex {
  gap: 50px;
}

.Main-prod__container {
  justify-content: space-between;
}

.footer__tabs-body-item p,
.footer__tabs-body-item-container_1 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  margin-top: 16px;
  color: var(--gray-color);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.footer__tabs-body-item p:hover,
.footer__tabs-body-item-container_1 p:hover {
  color: rgb(177, 175, 175);
}

.footer__tabs-header-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 13px;
  color: var(--white-color);
}

.myCart {
  margin-top: 45px;
  width: 65%;
}

.myCart_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  margin-bottom: 40px;
}

.total_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-color);
  display: flex;
  margin-bottom: 40px;
}

.total {
  margin-top: 45px;
  width: 25%;
}

.blockCard {
  display: flex;
}

.cardName {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--black-color);
  margin-bottom: 20px;
}

.leftCard {
  margin-left: 20px;
  margin-right: 160px;
}

.cardPrice {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: var(--black-color);
  margin-bottom: 30px;
  margin-left: 40px;
}

.blockCard img {
  height: 100%;
}

.blockCard img:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: 1s;
}

.btnCard {
  margin-bottom: 20px;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.btnCard button {
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  color: var(--gray-color);
  background-color: var(--white-color);
}

.accordCard {
  display: block;
  margin-bottom: 20px;
  line-height: 1.7;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-left: 120px;
}

.btnCard :first-of-type {
  margin-right: 20px;
}

.btnAfter {
  text-decoration: none;
  color: var(--bluelight-color);
  margin-left: 10px;
  position: relative;
}

.btnAfter:hover {
  color: var(--bluedark-color);
  transition: color .5s ease-in-out;
}

.btnAfter::before {
  content: url("./img/strel.svg");
  position: absolute;
  top: -40%;
  left: -15px;
  display: block;
  height: 10px;
  width: 10px;
  opacity: 1;
}

.btnAfter.active:before {
  content: url("./img/strel2.svg");
  position: absolute;
  top: -40%;
  left: -15px;
  display: block;
  height: 10px;
  width: 10px;
  opacity: 1;
}

.btnAmount {
  background: #e8e8e9;
  border-radius: 6px;
  width: 92px;
  height: 32px;
  left: 941px;
  top: 299px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnMinus {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
  background: #e8e8e9;
  align-items: center;
  cursor: pointer;
}

.minusItem {
  width: 17px;
  height: 17px;
  margin: -17px 5px 0 0;
  color: #1e2022;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
}

.btnPluse {
  width: 28px;
  height: 28px;
  background: var(--white-color);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 2px;
}

.pluseItem {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  color: #1e2022;
  font-family: "Roboto";
  font-weight: 400;
}

.btnPluse:active {
  background: #f0eeee;
}

.btnMinus:active {
  background: #b5b5b8;
}

.itemAmount {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--black-color);
}

.accordCard__item {
  margin-left: 12px;
  border: 1px solid #e8e8e9;
  border-radius: 6px;
  width: 503px;
  height: 109px;
}

.accordCard__item label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--black-color);
  margin-left: 10px;
}

.checkPrice {
  display: flex;
  justify-content: space-between;
}
.marginAccord {
  margin: 20px;
  line-height: 0.9em;
}

.accordCard__item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: var(--black-color);
  margin-left: 20px;
}

.marginAccord a {
  margin-left: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: var(--gray-color);
}

.checkPrice__right {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: var(--black-color);
}

.checkPrice__left {
  display: block;
}

.iphone__block {
  margin-bottom: 40px;
}

.first-line {
  display: flex;
  justify-content: start;
  align-items: center;
}

.first-line__text {
  display: flex;
  margin: 0 6px;
  align-items: center;
  width: 180px;
  width: 180px;
  height: 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--graydark-color);
}

.first-line__text .red {
  color: var(--cherry-color);
}

.second-line__text,
.third-line__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--graydark-color);
  width: 180px;
  margin: 0 6px;
}

.second-line,
.third-line {
  display: flex;
  justify-content: start;
  align-items: center;
}

.bonus-credit-rassrochka {
  height: 129px;
  width: 264px;
  border: 1px solid #e8e8e9;
  border-radius: 6px;
  margin: 10px 0;
}

.bonus-credit-rassrochka__container {
  height: 100%;
  width: 224px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.prod__price {
  position: relative;
}

.rassrochka {
  width: 200px;
}

.big-btn {
  width: 224px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  gap: 10px;
  background: var(--cherry-color);
  border: 1px solid var(--cherry-color);
  border-radius: 6px;
  margin-top: 15px;
}

.big-btn__button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  gap: 10px;
  background: var(--cherry-color);
  border: 1px solid var(--cherry-color);
  border-radius: 6px;
  color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.big-btn__button:hover {
  cursor: pointer;
  background-color: var(--cherrydark-color);
  border-color: var(--cherrydark-color);
  transition: border-color .5s ease,background .5s ease;
}

.big-btn:hover {
  background-color: var(--cherrydark-color);
  transition: background .5s ease;
}

.Main-prod__price-container_flex {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 0;
  padding: 20px;
}

.Main-prod__price-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: px;
  border-radius: 6px;
  border: 1px solid #e8e8e9;
  width: 266px;
}

.delivery {
  height: 136px;
  width: 264px;
  border-radius: 6px;
  border: 1px solid #e8e8e9;
}

.delivery_container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 138px;
  padding: 0 20px;
}

.bold-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--black-color);
}

.geo2.geo {
  display: none;
}

.second-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: var(--graydark-color);
}

.third-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: var(--graydark-color);
}

.second-text .red {
  color: var(--cherry-color);
}

.third-text .red {
  color: var(--cherry-color);
}

.tabs__header {
  display: flex;
  justify-content: space-between;
  width: 809px;
}

.tabs__header-item {
  cursor: pointer;
  transition: 0.4s all;
  transition: border-color 0.4s ease-in-out;
  border-bottom: 1px solid var(--white-color);
}

.tabs__header-item:hover {
  color: var(--cherry-color);
  border-color: var(--cherry-color);
}

.tabs__header-item.active {
  color: var(--cherry-color);
  border-bottom: 1px solid var(--cherry-color);
}

.prod__price {
  display: flex;
  justify-content: space-between;
}

.prod_price p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--graydark-color);
  align-items: flex-start;
}

.dashed {
  position: absolute;
  width: 73px;
  height: 0px;
  left: 40px;
  top: 22px;
  border: 1px dashed var(--gray-color);
}

.amountSum {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: var(--black-color);
}

.logo-div {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {

  .header {
    margin: 0;
  }

  .user-watched__container-item.second {
    gap: 13px;
  }
  .header__navigation {
    display: flex;
    justify-content: space-between;
    gap: 6%;
  }
  .main,
  .main_width-1140px {
    /* width: 95%; */
    /* position: relative; */
    margin: 0 auto;
  }
  body {
    background-color: white;
  }
  
  .header_width-1140px,
  .footer__container,
  .footer__container-2 {
    max-width: 100%;

    margin: 0 auto;
  }
  .header__search {
    width: 27.9%;
  }

  .header__search-input {
    position: relative;
    width: 70%;
  }

  .info {
    display: none;
  }

  .all {
    width: 645px;
    height: 473px;
    position: relative;
    flex: 0 1 66%;
  }

    .footer {
    margin: 0;
  }

  .footer__container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .footer__tabs-header {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    width: 100%;
    border-top: 1px solid #404040;
  }
  .footer__tabs-header-item {
    width: 100%;
    border-bottom: 1px solid #404040;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__container-flex {
    display: flex;
    flex-direction: column;
  }
  .footer__tabs-body-item,
  .footer__tabs-body-item.flex {
    display: none;
  }
  .header {
    padding: 20px 20px 0px 20px;
  }
  footer {
    width: 96%;
    padding: 20px;
  }
  header {
    width: 96%;
  }
  .famous-review {
    width: 90%;
  }
  .hr {
    position: absolute;
    left: 0;
    width: 100%;
  }
  .famous-review__body-additionally {
    position: inherit;
    width: 90%;
  }
  .footer__tabs-header-item img {
    display: block;
    margin-right: 4%;
  }
}

@media screen and (max-width: 1140px) {

  .main_width-1140px {
    display: block;
  }

  .myCart {
    margin: 0 auto;
    margin-top: 45px;
  }

  .total {
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .menu li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 1000px) {

  .header__navigation, .hr {
    display: none;
  }

  .header {
    height: 100px;
  }
}

@media screen and (max-width: 870px) {

  .header__search, .menu {
    display: none;
  }

  .logo__container {
    margin: 17px 0 20px 300px;
  }

  .myCart, .total {
    width: 100%;
  }

  .main_width-1140px {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {

  .logo__container {
    margin: 17px 0 20px 190px;
  }

  .leftCard {
    margin-right: 0;
  }

  .cardName {
    font-size: 11px;
    line-height: 100%;
    margin-bottom: 5px;
  }

  .btnCard {
    font-size: 11px;
    line-height: 100%;
    margin-bottom: 10px;
  }

  .cardPrice {
    font-size: 11px;
    line-height: 100%;
    margin-bottom: 8px;
  }
  
  .itemAmount {
    font-size: 11px;
    line-height: 10px;
  }

  .minusItem, .plusItem {
    width: 10px;
    height: 10px;
    margin: -17px 0px 0 0;
  }

  .btnAmount {
    width: 69px;
    height: 32px;
    margin-left: 25px;
  }

  .accordCard {
    line-height: 1.5;
    font-size: 11px;
  }

  .accordCard__item label {
    font-size: 11px;
    line-height: 11px;
    margin-left: 5px;
  }

  .accordCard__item {
    width: 360px;
    height: 85px;
  }

  .accordCard__item a {
    font-size: 11px;
    line-height: 11px;
  }

  .dashed {
    width: 74px;
  }

  .amountSum {
    font-size: 12px;
    line-height: 35px;
  }

  .Main-prod__price-container_flex {
    width: 179px;
  }

  .big-btn {
    margin-top: 0;
  }
}

@media screen and (max-width: 610px) {

  .logo__container {
    margin: 17px 0 20px 140px;
  }

  .footer__tabs-header-text, .footer__container-social-text {
    font-size: 18px;
  }

  .footer__container-social-btn {
    height: 30px;
    width: 40px;
  }

  .footer__container-2-text a, .footer__container-2-copy p {
    font-size: 11px;
    line-height: 11px;
  }
}

@media screen and (max-width: 500px) {
  .footer__tabs-header-item img {
    display: block;
    margin-right: 3%;
  }
  .Main-prod__price-container_flex {
    padding: 0;
  }
  .header__search {
    width: 320px;
    height: 50%;
    flex: 0 1 100%;
    margin: 0;
    justify-content: space-around;
    align-items: center;
  }
  .header {
    width: 90%;
    padding: 5% 5% 0% 5%;
  }
  .header__search-input {
    width: 70%;
  }
  .header__navigation {
    display: none;
  }

  .geo2.geo {
    display: flex;
    width: 70px;
    flex: 0 1 50%;
    margin-bottom: 20px;
    padding-left: 0%;
    justify-content: flex-end;
  }
  .user-watched__text {
    width: 260px;
  }
  .bonus-credit-rassrochka,
  .delivery,
  .User-Placement__text {
    display: none;
  }
  .Main-prod__text-js {
    margin-top: 60px;
    margin-bottom: 0px;
  }
  .Main-prod__text {
    margin: 0;
  }
  .Main-prod__price-container {
    border: 0;
    padding: 0;
  }

  .all {
    height: 330px;
    width: 88%;

    border-radius: 8px;
    margin-bottom: 20px;
  }
  .tabs__header,
  .tabs,
  .user-watched__container_flex {
    overflow: hidden;
  }
  .user-watched__container-item {
    margin-left: 20px;
    width: 180px;
  }
  .user-watched__container_flex {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;

    min-width: 0;
    flex-direction: row;
    padding-left: 0px;
    gap: 0;
    flex-shrink: 1;
  }
  .user-watched__container-item-form.cofe {
    margin-top: 2px;
  }
  .footer {
    width: 90%;
    padding: 5%;
  }
  .footer__container-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer__container-2-text a {
    margin: 0;
  }
  .footer__container-2-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .user-watched {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .logo__container {
    flex: 0 1 50%;
    margin: 0;
    margin-bottom: 20px;
  }
  .header__select {
    display: none;
  }
  .menu {
    display: none;
  }
  .header__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .hr {
    display: none;
  }

  .main_width-1140px {
    max-width: 500px;
    display: block;
  }

  .myCart_title {
    margin-left: 20px;
  }

  .myCart {
    width: 100%;
  }

  .leftCard {
    margin-right: 10px;
  }

  .accordCard__item {
    width: 403px;
  }

  .accordCard {
    margin-left: 60px;
  }

  .total {
    margin-left: 130px;
    margin-bottom: 40px;
  }

  .total_title {
    display: none;
  }

  .leftCard {
     margin-right: 0; 
  }

  .accordCard__item {
    width: 319px;
  }
}
